.datepickercontainer {
   width: 150px;
   margin-top: -5px;
}
div input {
   box-shadow: none !important;
}

div {
   color: black !important;
   outline: none !important;
}
input {
   border: none !important;
   text-align: end;
   background: none !important;
   color: black !important;
   outline: none !important;
   margin-left: 6px;
}

div svg {
   display: none !important;
}

:root {
   --g-color-focus: none;
   --g-colorBlack100: green;
   --g-colorGray0: #fff;
   --g-colorGray50: #fff;
   --g-colorBlack100: black;
   --g-colorGray200: black;
   --g-colorGray300: orange;
   --g-color300: black;
   --g-green: orange;
   --g-colorTransparentGray60: orange;
   --g-colorTransparentGray100: rgb(0 0 0/0.3);
   --g-colorTransparentGray500: rgb(0 0 0/0.1);
   --g-colorTransparentGray800: rgb(0 0 0/0.8);
}
